html {
    /* I'm not sure why I need this in Electron. :/ */
    overflow: hidden;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* History */
.history {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    padding: 5px 0;
}
dl {
    margin: auto 0 0 0;
    flex-grow: 1;
    width: 100%;
}
dt, dd {
    padding: 0 10px;
}
dt {
    opacity: 0.8;
    transition: opacity 0.2s;
    overflow: auto hidden;
}
dt .katex {
    font-size: 13pt !important;
}
dt .katex-display > .katex {
    text-align: left;
}
dt:hover {
    opacity: 1;
}
dd {
    margin-left: 0;
}
dd .katex {
    font-size: 15pt !important;
}
dd .katex-display > .katex {
    text-align: right;
}

/* Input */
input {
    font: 13pt "KaTeX_Main";
    border-top: 3px #ff0052 solid;
    border-right: none;
    border-bottom: 1px #ccc solid;
    border-left: none;
    background: #fafafa;
    padding: 10px;
    outline: none;
}

/* Panel */
.panel {
    margin: 0;
    padding: 0 15px;
    list-style: none;
    background: #eee;
    text-align: center;
}
.panel li {
    display: inline;
}
.panel button {
    height: 40px;
    width: 50px;
    background: transparent;
    border: 0;
}
.panel button:focus {
    outline: solid #ff0052;
}
.panel button .katex {
    font-size: 13pt;
}

/* KaTeX */
.katex-display {
    margin: 0 !important;
    padding: 2px 0;
}
.katex-display > .katex {
    white-space: normal !important;
}
