body {
    margin: 15px 0;
}
body, input {
    font: 13pt "STIXGeneral";
}

/* History */
dl {
    margin: 0;
}
.item:last-child {
    margin-bottom: 10px;
}
dt, dd {
    padding: 0 15px;
}
dd {
    text-align: right;
    border-right: 5px solid lightgreen;
}

/* Input */
input {
    display: block;
    width: calc(100% - 30px);
    box-sizing: border-box;
    margin: 0 15px;
}

/* MathML */
mo.paren {
    margin: 0;
}
mo.comma {
    margin-left: 0;
}
