body {
    margin: 15px 0;
}

/* History */
dl {
    margin: 0;
}
.item {
    margin-bottom: 15px;
}
dt, dd {
    padding: 0 15px;
}
dt {
    border-left: 5px solid lightgray;
}
dd {
    border-right: 5px solid lightgreen;
    margin-top: 5px;
}

/* Input */
input {
    font: 13pt "KaTeX_Main";
    display: block;
    width: calc(100% - 30px);
    box-sizing: border-box;
    margin: 0 15px;
}

/* KaTeX */
.katex {
    font-size: 13pt !important;
}
.katex-display {
    margin: 0 !important;
}
dt .katex-display > .katex {
    text-align: left;
}
dd .katex-display > .katex {
    text-align: right;
}
